body {
    background-color: gray;
}

/* Style the header */
.header {
    background-color: #f1f1f1;
    padding: 20px;
    text-align: center;
}

.main {
    width: 100.00%;
    text-align: center;
}

/* Style the footer*/
.footer {
    padding: 20px;
    text-align: center;
}

h1 {
    font-family: Verdana;
    color: black;
    text-align: center;
}

a:link, a:visited {
    background-color: blue;
    color: white;
    padding: 14px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}